<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018809494315-060ubhs0256t1g0lr605u1ckco6kcj7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018809494315-060ubhs0256t1g0lr605u1ckco6kcj7i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018809494315-s0v8cnh6d1ku3k7kio90i7h1hf5k65i4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFab7evFtGJZpSoa-NUQ8BTkX8IwJD9xI</string>
	<key>GCM_SENDER_ID</key>
	<string>1018809494315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deverly.ios</string>
	<key>PROJECT_ID</key>
	<string>develery-app</string>
	<key>STORAGE_BUCKET</key>
	<string>develery-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018809494315:ios:0318206b71fb66f6c1f36e</string>
	<key>DATABASE_URL</key>
	<string>https://develery-app.firebaseio.com</string>
</dict>
</plist>